body {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h4 {
  color: whitesmoke;
}

h5 {
  color: black;
}

h6 {
  color: black;
}

p {
  color: black;
}

.form-floating {
  color: black;
}

#parrafoImportante {
  color: white
}

.container-fluid {
  position: relative;
}

.bottomright {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 140px;
  right: 40px;
  font-size: 18px;
  color: white;
}

img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.oscurecer-img {
  filter: brightness(75%);
}

